$spacing-2: 0.2rem;
$spacing-4: 0.4rem;
$spacing-6: 0.6rem;
$spacing-8: 0.8rem;
$spacing-10: 1rem;
$spacing-11: 1.1rem;
$spacing-12: 1.2rem;
$spacing-13: 1.3rem;
$spacing-14: 1.4rem;
$spacing-15: 1.5rem;
$spacing-16: 1.6rem;
$spacing-18: 1.8rem;
$spacing-20: 2rem;
$spacing-24: 2.4rem;
$spacing-28: 2.8rem;
$spacing-32: 3.2rem;
$spacing-36: 3.6rem;
$spacing-40: 4rem;
$spacing-48: 4.8rem;
$spacing-56: 5.6rem;
$spacing-64: 6.4rem;
$spacing-72: 7.2rem;
$spacing-80: 8rem;
$spacing-88: 8.8rem;
$spacing-96: 9.6rem;
$spacing-128: 12.8rem;
$spacing-148: 14.8rem;
$spacing-188: 18.8rem;
$spacing-256: 25.6rem;
$spacing-288: 28.8rem;

$spacing: (
    2: $spacing-2,
    4: $spacing-4,
    6: $spacing-6,
    8: $spacing-8,
    10: $spacing-10,
    11: $spacing-11,
    12: $spacing-12,
    13: $spacing-13,
    14: $spacing-14,
    15: $spacing-15,
    16: $spacing-16,
    18: $spacing-18,
    20: $spacing-20,
    24: $spacing-24,
    28: $spacing-28,
    32: $spacing-32,
    36: $spacing-36,
    40: $spacing-40,
    48: $spacing-48,
    56: $spacing-56,
    64: $spacing-64,
    72: $spacing-72,
    80: $spacing-80,
    88: $spacing-88,
    96: $spacing-96,
    128: $spacing-128,
    148: $spacing-148,
    188: $spacing-188,
    256: $spacing-256,
    288: $spacing-288,
);
