@use "../abstracts" as *;

.no-editor {
    h1 {
        font-size: fluid(28, 40) !important;
    }
    h2 {
        font-size: fluid(26, 36) !important;
    }
    h3 {
        font-size: fluid(24, 32) !important;
    }
    h4 {
        font-size: fluid(22, 28) !important;
    }
    h5 {
        font-size: fluid(20, 24) !important;
    }
    h6 {
        font-size: fluid(18, 20) !important;
    }

    b {
        font-weight: 700 !important;
    }
}

.no-post-files {
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 76.8rem;
}

.no-post-file {
    display: block;
    padding: 1.6rem;
    border: 1px solid #ddd;
    background: #fafafa;
    color: var(--clr-primary-500);
    font-size: 1.4rem;
}

.no-pub-img {
    @include img-auto-cover(115%);
}

.public-list {
    gap: 4.8rem 2.4rem;
}

.no-vid-img {
    @include img-auto-cover(62.5%);

    .icon {
        @include pos-center();
        width: 4.8rem;
    }
}

i {
    font-style: italic;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem 2.4rem;

    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.no-post-view {
    max-width: 85rem;
    margin: 0 auto;

    .no-post-title {
        display: flex;
        flex-direction: column;
        margin-top: fluid(41, 82);
        gap: 1.2rem;

        h2 {
            font-weight: 700;
            font-size: fluid(24, 48);
        }

        p {
            color: #999;
        }
    }

    .no-post-content {
        margin-top: 6.4rem;
    }

    .no-post-action {
        padding-top: fluid(24, 48);
        margin-top: fluid(24, 48);
        text-align: center;
        border-top: 1px solid #ddd;
        @include flex-center();

        a,
        button {
            border: 1px solid var(--clr-primary-500);
            color: var(--clr-primary-500);
            padding: 1.2rem 2.4rem;
            font-weight: 500;

            &:hover {
                color: #fff;
                background-color: var(--clr-primary-500);
            }
        }
    }
}
.no-results-notfound {
    text-align: center;
    padding: 6.4rem 0 4.8rem;
    font-weight: 600;
    font-size: fluid(16, 28);
}

.no-error-wrap {
    min-height: 100vh;
    @include flex-center();

    .no-error-title {
        font-size: var(--fs-heading-lg);
    }
}

.no-visual {
    margin-top: var(--header-height);
    position: relative;

    .swiper-slide-active h2 {
        animation: title 0.6s 0.2s both;
    }

    @keyframes title {
        0% {
            opacity: 0;
            transform: translateY(3rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0rem);
        }
    }

    .no-main-slider {
        overflow: hidden;
        height: 70rem;
        position: relative;

        @include mq(md) {
            height: fluid(400, 700);
        }

        .swiper-slide {
            position: relative;
            overflow: hidden;
            background: no-repeat center/cover;

            figure {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                &::before {
                    content: "";
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0.5) 50%
                    );
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                    opacity: 1;
                    z-index: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .no-visual__title {
                text-align: left;
                z-index: 2;
                color: #fff;
                position: absolute;
                left: fluid(24, 60);
                bottom: fluid(32, 64);

                br {
                    @include mq(sm) {
                        display: none;
                    }
                }
            }
        }

        .swiper-controller {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            right: fluid(24, 60);
            bottom: fluid(16, 32);

            .group {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.2rem;

                .arrow {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    right: 0;
                    top: auto;
                    margin: 0;
                    width: fluid(40, 50);
                    height: fluid(40, 50);
                    border: 1px solid var(--clr-white-6dp);
                    border-radius: 50%;
                    transition: border 0.3s;

                    &::after {
                        display: none;
                    }

                    &:hover {
                        border: 1px solid #fff;
                    }

                    i {
                        font-size: fluid(16, 24);
                        color: #fff;
                    }
                }
            }
        }
    }
}

.no-event {
    position: relative;
    overflow-x: hidden;

    .section-title {
        &::before {
            background-color: var(--clr-primary-500);
        }
        &::after {
            background-color: var(--clr-border-strong);
        }
    }

    .event-list {
        display: flex;

        @include mq(md) {
            flex-direction: column;
            gap: 2.4rem;
        }

        .important {
            position: relative;
            width: 50%;

            @include mq(md) {
                width: 100%;
                padding-bottom: 2.4rem;
                border-bottom: 1px solid var(--clr-border-base);
            }

            &::before {
                content: "";
                position: absolute;
                right: -2rem;
                top: 0;
                width: 0.1rem;
                height: 100%;
                background-color: var(--clr-border-base);
                display: block;

                @include mq(md) {
                    display: none;
                }
            }

            &:hover {
                h3 {
                    text-decoration: underline;
                }
            }

            figure {
                overflow: hidden;
                position: relative;
                display: flex;
                padding-bottom: 53.125%;
                width: 100%;

                img {
                    position: absolute;
                    height: 100%;
                }

                .category {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: #fff;
                    padding: fluid(6, 8) fluid(12, 16);
                }
            }

            .txt {
                h3 {
                    width: 100%;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
                p {
                    width: 100%;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
                span {
                    color: var(--clr-text-label);
                }
            }
        }

        .group {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            margin-left: 2rem;

            @include mq(md) {
                width: 100%;
                margin-left: 0;
            }

            li {
                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }
                a {
                    width: 100%;
                    display: flex;
                    gap: 1.6rem;
                    align-items: flex-start;
                    padding-bottom: 2.4rem;
                    border-bottom: 1px solid var(--clr-border-base);

                    &:hover {
                        h3 {
                            text-decoration: underline;
                        }
                    }

                    figure {
                        overflow: hidden;
                        position: relative;
                        display: flex;
                        aspect-ratio: 300 / 170;
                        width: 100%;
                        max-width: 30rem;

                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }

                        .category {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background-color: #fff;
                            padding: fluid(6, 8) fluid(12, 16);
                        }
                    }

                    .txt {
                        width: 100%;

                        h3 {
                            width: 100%;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                        }

                        span {
                            color: var(--clr-text-label);
                        }
                    }
                }
            }
        }
    }
}

.no-center-banner {
    position: relative;
    overflow-x: hidden;

    .banner-box {
        height: fluid(340, 390);
        padding: fluid(48, 64) fluid(24, 120);
        position: relative;

        figure {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: -1;
            overflow: hidden;
        }

        p {
            br {
                @include mq(md) {
                    display: none;
                }
            }
        }
    }
}

.no-research {
    position: relative;
    overflow-x: hidden;
    background-color: var(--clr-primary-700);

    .section-title {
        h2 {
            color: #fff;
        }
        &::before {
            background-color: var(--clr-primary-50);
        }
        &::after {
            background-color: var(--clr-white-7dp);
        }
    }

    .research-wrap {
        gap: 4rem;
        align-items: flex-start;

        @include mq(lg) {
            flex-direction: column;
        }

        .category-nav-wrap {
            @include mq(lg) {
                display: flex;
                align-items: center;
                width: 100%;
            }

            .category-nav {
                min-width: fluid(100, 300);
                ul {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    padding-left: 2.4rem;

                    @include mq(lg) {
                        flex-direction: row;
                        padding-left: 0;
                        min-width: 100%;
                        gap: 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0.1rem;
                        height: 100%;
                        background-color: var(--clr-white-7dp);

                        @include mq(lg) {
                            display: none;
                        }
                    }

                    li {
                        position: relative;

                        @include mq(lg) {
                            width: max-content;
                        }

                        &.active {
                            &::before {
                                content: "";
                                position: absolute;
                                left: -2.3rem;
                                top: 0;
                                width: 0.2rem;
                                height: 100%;
                                background-color: #fff;

                                @include mq(lg) {
                                    left: 0;
                                    top: auto;
                                    bottom: 0;
                                    width: 100%;
                                    height: 0.2rem;
                                }
                            }

                            a {
                                color: var(--clr-primary-50);
                            }
                        }

                        &:hover {
                            a {
                                color: var(--clr-white-7dp);
                            }
                        }

                        a {
                            color: #fff;
                        }
                    }
                }
            }

            .base-btn {
                border: 1px solid #fff;
                color: #fff;

                @include mq(lg) {
                    display: none;
                }
            }
        }

        .research-list {
            position: relative;
            display: flex;
            flex-direction: column;

            .important {
                &:hover {
                    h3 {
                        text-decoration: underline;
                    }
                }

                a {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    gap: 4rem;
                    position: relative;

                    @include mq(md) {
                        flex-direction: column;
                        gap: fluid(12, 16);
                        padding-bottom: 2.4rem;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 0.1rem;
                            background-color: var(--clr-white-7dp);
                        }
                    }

                    figure {
                        position: relative;
                        display: flex;
                        aspect-ratio: 640 / 340;
                        overflow: hidden;
                        width: 100%;
                        flex: 1 1 auto;
                        max-width: 64rem;

                        @include mq(md) {
                            max-width: 100%;
                        }

                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .txt {
                        width: 100%;
                        flex: 1;
                        color: #fff;
                        min-width: 30rem;

                        @include mq(md) {
                            min-width: 100%;
                        }

                        h3 {
                            width: 100%;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;

                            @include mq(md) {
                                margin-top: fluid(12, 16);
                            }
                        }

                        p {
                            width: 100%;
                            overflow: hidden;
                            -webkit-line-clamp: 4;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;

                            @include mq(md) {
                                -webkit-line-clamp: 3;
                            }
                        }

                        span {
                            color: var(--clr-white-7dp);
                        }
                    }
                }
            }

            .group {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 4rem;

                @include mq(md) {
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;
                }

                li {
                    position: relative;

                    &:hover {
                        h3 {
                            text-decoration: underline;
                        }
                    }

                    &:last-child {
                        a {
                            &::before {
                                display: none;
                            }
                        }
                    }
                    a {
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            right: -2rem;
                            width: 0.1rem;
                            height: 100%;
                            background-color: var(--clr-white-7dp);
                        }

                        @include mq(md) {
                            display: flex;
                            align-items: flex-start;
                            gap: 1.6rem;
                            padding-bottom: 2.4rem;

                            &::before {
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 0.1rem;
                            }
                        }

                        .txt {
                            @include mq(md) {
                                width: 100%;
                                max-width: 50%;
                            }

                            h3 {
                                color: #fff;
                                width: 100%;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                min-height: fluid(45, 52);

                                @include mq(md) {
                                    font-size: fluid(16, 20);
                                    margin-top: 0;
                                    min-height: auto;
                                    br {
                                        display: none;
                                    }
                                }
                            }
                            span {
                                color: var(--clr-white-7dp);
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-boards {
    .board-list {
        display: flex;
        flex-direction: column;
        gap: fluid(48, 64);

        > li {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4rem;

            @include mq(md) {
                display: flex;
                flex-direction: column;
                gap: 4rem;
            }

            .f-wrap {
                flex-direction: column;

                @include mq(md) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                .section-title {
                    @include mq(md) {
                        margin-bottom: 0;
                    }

                    &::before {
                        background-color: var(--clr-primary-500);
                    }
                }

                .base-btn {
                    width: max-content;
                }
            }

            .list-wrap {
                position: relative;
                width: 100%;
                display: grid;
                grid-column: span 3;
                grid-template-columns: repeat(3, 1fr);
                gap: 4rem;

                @include mq(sm) {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 2.4rem;
                }

                &.publication {
                    li {
                        a {
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;

                            @include mq(md) {
                                flex-direction: column;
                            }

                            figure {
                                aspect-ratio: 140 / 210;
                                position: relative;
                                overflow: hidden;
                                width: 100%;
                                max-width: 14rem;

                                @include mq(sm) {
                                    max-width: 60%;
                                }

                                img {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .txt {
                                width: 100%;
                                h3 {
                                    -webkit-line-clamp: 3;
                                    margin-bottom: fluid(12, 16);
                                }
                            }
                        }
                    }
                }

                li {
                    &:last-child {
                        a {
                            &::before {
                                display: none;
                            }
                        }
                    }

                    a {
                        padding-bottom: 2rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: fluid(12, 16);
                        position: relative;

                        @include mq(sm) {
                            padding-bottom: 2.4rem;
                        }

                        &:hover {
                            h3 {
                                text-decoration: underline;
                            }
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            right: -2rem;
                            width: 0.1rem;
                            height: 100%;
                            background-color: var(--clr-border-base);

                            @include mq(sm) {
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 0.1rem;
                            }
                        }

                        iframe {
                            aspect-ratio: 300 / 180;
                        }

                        h3 {
                            width: 100%;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;

                            @include mq(md) {
                                br {
                                    display: none;
                                }
                            }
                        }

                        p {
                            width: 100%;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                        }

                        span {
                            color: var(--clr-text-label);
                        }
                    }
                }
            }
        }
    }
}

.research-list {
    li.important {
        a {
            figure {
                padding-top: 36.25%;
                @include mq(md) {
                    padding-top: 56.25%;
                }
            }
        }
    }

    a {
        @include mq(md) {
            flex-direction: column;
        }

        figure {
            height: 0;
            position: relative;
            padding-top: 56.25%;
            aspect-ratio: initial;
            width: 100%;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.research-wrap .no-tab-contents {
    flex: 1;
    width: 100%;
}

.no-event .event-list .group li a {
    figure {
        height: 0;
        position: relative;
        padding-top: 30.25%;
        aspect-ratio: initial;
        width: 100%;
        max-width: none;

        @include mq(md) {
            padding-top: 56.25%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    @include mq(md) {
        flex-direction: column;
    }
}
