@use '../../abstracts' as *;

$spacing: (
  section: (
    xl: fluid(72, 148),
    lg: fluid(64, 128),
    md: fluid(40, 80),
    sm: fluid(24, 48),
    xs: fluid(16, 32),
    2xs: fluid(12, 24),
    3xs: fluid(8, 16),
    4xs: fluid(4, 12),
    // 추가 커스텀 ///////
    200: fluid(100, 200),
    160: fluid(80, 160),
    148: fluid(72, 148),
    128: fluid(64, 128),
    120: fluid(60, 120),
    80: fluid(60, 80),
    70: fluid(35, 70),
    64: fluid(48, 64),
    60: fluid(40, 60),
    48: fluid(24, 48),
    40: fluid(22, 40),
    32: fluid(24, 32),
    30: fluid(15, 30),
    28: fluid(20, 28),
    24: fluid(16, 24),
    20: fluid(14, 20),
    16: fluid(12, 16),
    12: fluid(8, 12),
    8: fluid(4, 8),
  ),
  radius: (
    circle: 50%,
    round: var(--spc-288),
    input: var(--spc-6),
    xl: fluid(24, 48),
    lg: fluid(16, 32),
    md: fluid(12, 24),
    sm: fluid(8, 16),
    xs: fluid(6, 12),
  ),
);
