$colors: (
  base: (
    white: #ffffff,
    black: #000000,
    red: #e60012,
    blur: #f5f7f9,
  ),
  dark: (
    base-red: #ff5370,
    base-black: #ffffff,
    base-white: #121212,
    base-blur: #2a2d2e,
  ),
  border: (
    strong: #000000,
    base: #e0e0e0,
  ),
  primary: (
    50: #aecbff,
    300: #2f4e9e,
    500: #1d3b86,
    700: #0f0f70,
  ),
  secondary: (
    50: #ece9e5,
    500: #ad7c62,
  ),
  gray: (
    50: #f2f2f2,
    600: #757575,
    700: #666666,
    800: #000000,
    900: #000000,
  ),
  feedback: (
    info-main: #3f50b5,
    info-dark: #002884,
    info-light: #757ce8,
    error-main: #f44336,
    error-dark: #ba000d,
    error-light: #ff7961,
  ),
  white: (
    00dp: rgba(255, 255, 255, 0),
    01dp: rgba(255, 255, 255, 0.1),
    02dp: rgba(255, 255, 255, 0.2),
    24dp: rgba(255, 255, 255, 0.24),
    03dp: rgba(255, 255, 255, 0.3),
    04dp: rgba(255, 255, 255, 0.4),
    05dp: rgba(255, 255, 255, 0.5),
    06dp: rgba(255, 255, 255, 0.6),
    07dp: rgba(255, 255, 255, 0.7),
    08dp: rgba(255, 255, 255, 0.8),
    09dp: rgba(255, 255, 255, 0.9),
    10dp: rgba(255, 255, 255, 1),
  ),
  black: (
    00dp: rgba(0, 0, 0, 0),
    01dp: rgba(0, 0, 0, 0.1),
    02dp: rgba(0, 0, 0, 0.2),
    024dp: rgba(0, 0, 0, 0.24),
    03dp: rgba(0, 0, 0, 0.3),
    04dp: rgba(0, 0, 0, 0.4),
    05dp: rgba(0, 0, 0, 0.5),
    06dp: rgba(0, 0, 0, 0.6),
    07dp: rgba(0, 0, 0, 0.7),
    08dp: rgba(0, 0, 0, 0.8),
    09dp: rgba(0, 0, 0, 0.9),
    10dp: rgba(0, 0, 0, 1),
  ),
  opacity-white: (
    00dp: rgba(255, 255, 255, 0%),
    01dp: rgba(255, 255, 255, 5%),
    02dp: rgba(255, 255, 255, 7%),
    03dp: rgba(255, 255, 255, 8%),
    04dp: rgba(255, 255, 255, 9%),
    06dp: rgba(255, 255, 255, 11%),
    08dp: rgba(255, 255, 255, 12%),
    12dp: rgba(255, 255, 255, 14%),
    16dp: rgba(255, 255, 255, 15%),
    24dp: rgba(255, 255, 255, 16%),
  ),
  opacity-black: (
    00dp: rgba(0, 0, 0, 0%),
    01dp: rgba(0, 0, 0, 5%),
    02dp: rgba(0, 0, 0, 7%),
    03dp: rgba(0, 0, 0, 8%),
    04dp: rgba(0, 0, 0, 9%),
    06dp: rgba(0, 0, 0, 11%),
    08dp: rgba(0, 0, 0, 12%),
    12dp: rgba(0, 0, 0, 14%),
    16dp: rgba(0, 0, 0, 15%),
    24dp: rgba(0, 0, 0, 16%),
  ),
);
